## Build generated
build/
DerivedData/
Example/AttributedMarkdownExample/build/
Example/AttributedMarkdownExample/DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/.build
Example/AttributedMarkdownExample/AttributedMarkdownExample.xcodeproj/project.xcworkspace

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

AttributedMarkdownExample/xcuserdata
AttributedMarkdownExample/*.pbxuser
## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
.DS_Store

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Project configuration files
ConfigurationProduction.xcconfig
.DS_Store
